.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0;
}

.legend rect {
	fill:white;
	stroke:black;
	opacity:0.8;
}

.news-preview-content {
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Context Paginator */

.tp-control-arrows {
	height: 40px;
	float: left;
}
.tp-control-pages {
	height: 40px;
}
.tp-control-arrow-left {
	background: #777777;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	margin: 0 5px;
	padding: 10px;
}
.tp-control-arrow-right {
	background: #777777;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	margin: 0 5px;
	padding: 10px;
}
.tp-control-arrow-left.unactive {
	background: #eee;
}
.tp-control-arrow-right.unactive {
	background: #eee;
}
.tp-page {
	background: #777777;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	margin: 0 5px;
	padding: 10px;
}
.tp-page.active {
	background: #ff0000;
	color: #FFFFFF;
}
